* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-geral {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-login {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.caixa-imagem-login {
    height: 600px;
}

.caixa-imagem-login>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-login {
    background-color: rgb(243, 243, 243);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-login>h1 {
    text-align: center;
    margin-bottom: 70px;
}

.form-login>input[type="text"],
.form-login>input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 7px;
    border: 1px solid gray;
}

.form-login>label {
    font-weight: 500;
    padding-bottom: 5px;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-size: 14px;
}

.opcoes>a {
    text-decoration: none;
    color: rgb(30, 30, 255);
}

.opcoes>a:hover {
    text-decoration: underline;
    color: rgb(17, 17, 199);
}

.form-login>input[type="button"] {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background-color: blue;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 7px;
    border: none;
}

.form-login>input[type="button"]:hover {
    background-color: rgb(2, 2, 194);
}

.form-login>p {
    text-align: center;
    padding: 30px 0;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes>a {
    margin: 0 15px;
}

#linkCriarConta,
#linkFazerLogin {
    text-decoration: none;
    text-align: center;
    margin-top: 25px;
    color: rgb(30, 30, 255);
}

#linkCriarConta:hover,
#linkFazerLogin:hover {
    text-decoration: underline;
    color: rgb(17, 17, 199);
}



/* ESTILO DA PÁGINA RESERVAS */

.container-reservas {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: auto;
}

.ctn-menu {
    border-right: 1px solid #e0e0e0;
    padding: 40px 0;
}

.ctn-menu>h1 {
    padding-bottom: 40px;
    text-align: center;
    color: #07aee8;
}

.menu>ul {
    list-style-type: none;

}

.menu>ul>li {
    padding: 10px 20px;
    margin-bottom: 5px;
}

.menu>ul>li>a {
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: black;
}

.menu>ul>li>a:hover {
    background-color: #e0eaff;
    border-left: 4px solid #07aee8;
    font-weight: bold;
    border-radius: 5px;
}

.ctn-conteudo-pagina {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5; 
}

.perfil-usuario {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.perfil-usuario > img {
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 10px;
}

.area-trabalho {
    padding: 20px 40px;
    background-color: white;
}


.container-secao {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 30px;
}

.caixa-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#novaReserva {
    padding: 10px 20px;
    border: 2px solid #07aee8;
    color: #07aee8;
    border-radius: 7px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

#novaReserva:hover {
    background-color: #07aee8;
    color: white;
}

.container-filtro {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.271);
    padding: 20px;
    margin-top: 30px;
    font-size: 14px;
}

.form-filtro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 50px;
}

.campo-filtro > label{
    display: block;
    font-weight: bold;
}

.campo-filtro > input {
    width: 100%;
    padding: 8px;
}

.periodo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}

.periodo > input {
    padding: 7px;
}

.campo-filtro > select {
    width: 100%;
    padding: 8px;
}

.botoes-filtro {
    text-align: right;
    margin-top: 15px;    
}

.botoes-filtro > button {
    padding: 10px 20px;
    cursor: pointer;
}

#botaoPesquisar {
    border: 2px solid #07aee8;
    background-color: #07aee8;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    margin-right: 15px;
}

#botaoPesquisar:hover {
    background-color: #0594c3;
    border-color: #0594c3;
}

#botaoLimpar {
    border: 2px solid orange;
    background-color: white;
    color: orange;
    border-radius: 7px;
    font-weight: bold;
}

#botaoLimpar:hover {
    background-color: orange;
    color: white;
}

.container-tabela {
    margin-top: 20px;
    border-radius: 10px;
}

.tabela-dados {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.tabela-dados th {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ffffff;
    background-color: #e0eaff;
}

.tabela-dados td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fafeff;
}

.status-reservada {
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
}

.status-em-progresso {
    background-color: green;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.status-finalizada {
    background-color: rgb(2, 21, 128);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}