* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-geral {
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-login {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
}

.caixa-imagem-login {
    height: 600px;
}

.caixa-imagem-login>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-login {
    background-color: rgb(243, 243, 243);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-login>h1 {
    text-align: center;
    margin-bottom: 70px;
}

.form-login>input[type="text"],
.form-login>input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 7px;
    border: 1px solid gray;
}

.form-login>label {
    font-weight: 500;
    padding-bottom: 5px;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
    font-size: 14px;
}

.opcoes>a {
    text-decoration: none;
    color: rgb(30, 30, 255);
}

.opcoes>a:hover {
    text-decoration: underline;
    color: rgb(17, 17, 199);
}

.form-login>input[type="button"] {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    background-color: blue;
    color: white;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 7px;
    border: none;
}

.form-login>input[type="button"]:hover {
    background-color: rgb(2, 2, 194);
}

.form-login>p {
    text-align: center;
    padding: 30px 0;
}

.redes {
    display: flex;
    justify-content: center;
}

.redes>a {
    margin: 0 15px;
}

#linkCriarConta,
#linkFazerLogin {
    text-decoration: none;
    text-align: center;
    margin-top: 25px;
    color: rgb(30, 30, 255);
}

#linkCriarConta:hover,
#linkFazerLogin:hover {
    text-decoration: underline;
    color: rgb(17, 17, 199);
}



/* ESTILO DA PÁGINA RESERVAS */

.container-reservas {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: auto;
}

.ctn-menu {
    border-right: 1px solid #e0e0e0;
    padding: 40px 0;
}

.ctn-menu>h1 {
    padding-bottom: 40px;
    text-align: center;
    color: #07aee8;
}

.menu>ul {
    list-style-type: none;

}

.menu>ul>li {
    padding: 10px 20px;
    margin-bottom: 5px;
}

.menu>ul>li>a {
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: black;
}

.menu>ul>li>a:hover {
    background-color: #e0eaff;
    border-left: 4px solid #07aee8;
    font-weight: bold;
    border-radius: 5px;
}

.ctn-conteudo-pagina {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5; 
}

.perfil-usuario {
    padding: 10px 40px;
    background-color: #ffffff;
    border-bottom: 1px solid #e0e0e0;
}

.perfil-usuario > a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
}

.perfil-usuario > a > img {
    border: 1px solid gray;
    border-radius: 50%;
    margin-right: 10px;
}

.area-trabalho {
    padding: 20px 40px;
    background-color: white;
}


.container-secao {
    margin-top: 10px;
    background-color: #f9f9f9;
    padding: 30px;
}

.caixa-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.botao-branco-azul {
    padding: 10px 20px;
    border: 2px solid #07aee8;
    color: #07aee8;
    border-radius: 7px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.botao-branco-azul:hover {
    background-color: #07aee8;
    color: white;
}

.link-branco-azul {
    padding: 10px 20px;
    border: 2px solid #07aee8;
    color: #07aee8;
    border-radius: 7px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
}


.link-branco-azul:hover {
    background-color: #07aee8;
    color: white;
}

.container-filtro {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.271);
    padding: 10px;
    margin-top: 30px;
    font-size: 14px;
}

.form-filtro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 50px;
}

.campo-filtro > label{
    display: block;
    font-weight: bold;
}

.campo-filtro > input {
    width: 100%;
    padding: 8px;
}

.periodo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}

.periodo > input {
    padding: 7px;
}

.campo-filtro > select {
    width: 100%;
    padding: 8px;
}

.botoes-filtro {
    text-align: right;
    margin-top: 15px;    
}


.botao-azul {
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #07aee8;
    background-color: #07aee8;
    color: white;
    border-radius: 7px;
    font-weight: bold;
    margin-right: 15px;
}

.botao-azul:hover {
    background-color: #0594c3;
    border-color: #0594c3;
}


.botao-branco-laranja {
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid orange;
    background-color: white;
    color: orange;
    border-radius: 7px;
    font-weight: bold;
}

.botao-branco-laranja:hover {
    background-color: orange;
    color: white;
}

.container-tabela {
    margin-top: 20px;
    border-radius: 10px;
}

.tabela-dados {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.tabela-dados th {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ffffff;
    background-color: #e0eaff;
}

.tabela-dados td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #d8d8d8;
    background-color: #fafeff;
}

.status-reservada {
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
}

.status-em-progresso {
    background-color: green;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.status-finalizada {
    background-color: rgb(2, 21, 128);
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}



/* PAGINA FAZER RESERVA */

.container-fazer-reserva {
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.271);
    padding: 50px 80px;
    margin-top: 30px;
    font-size: 14px;
}

.campo-reserva > label{
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

.campo-reserva > input, .campo-reserva > textarea {
    width: 100%;
    padding: 8px;
}

.total {
    margin: 30px 0;
}

.total > p > span {
    color: #0594c3;
    font-weight: bold;
}



/* PAGINA USUARIOS */

.botoes-usuarios > button:nth-child(2) {
    margin: 0 15px;
}

.visualizar-por {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.visualizar-por > p {
    font-size: 14px;
    margin-right: 15px;
}

.botao-branco-roxo {
    padding: 10px 20px;
    border: 2px solid purple;
    color: purple;
    border-radius: 7px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

.botao-branco-roxo:hover {
    background-color: purple;
    color: white;
}

.visualizar-por > button:last-child {
    margin-left: 20px;
}

.status-ativo {
    padding: 5px 10px;
    border-radius: 5px;
    color: green;
    border: 1px solid green;
}

.status-inativo {
    padding: 5px 10px;
    border-radius: 5px;
    color: red;
    border: 1px solid red;
}




/* PAGINA CONFIGURAÇÕES */

.form-configuracoes {
    width: 500px;
    margin: auto;
    padding: 100px 0;
}

.form-configuracoes > div {
    margin: 20px 0;
}



/* EDITAR RESERVA */

.form-editar-reserva {
    width: 500px;
    margin: auto;
    padding: 20px 0;
}

.form-editar-reserva > .campo-filtro > textarea {
    width: 100%;
}

.form-editar-reserva > .campo-filtro > label {
    padding-top: 5px;
}


/* VER RESERVA */

.info-reserva {
    width: 700px;
    margin: auto;
}

.campo-info {
    display: grid;
    grid-template-columns: 2fr 4fr;
    gap: 20px;
    margin-top: 10px;
}

.campo-info > p:first-child {
    text-align: right;
}

.caixa-botao-voltar {
    margin: 40px 0;
    text-align: center;
}




/* CADASTRAR PET */


.container-form-novo-pet {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
}

.foto-pet-cadastro {
    border: 1px solid black;
    padding: 20px;
}

.form-novo-pet > .campo-filtro > label {
    margin-top: 10px;
}

.form-novo-pet > .caixa-botoes {
    margin-top: 20px;
}


/* EDITAR PERFIL */

.form-editar-perfil {
    width: 500px;
    margin: auto;
    padding: 50px 0;
}

.form-editar-perfil > div {
    margin-top: 15px;
}



/* EDITAR RESERVA FINALIZADA */

.link-roxo {
    padding: 7px 10px;
    border: 2px solid rgb(197, 2, 197);
    color: white;
    border-radius: 7px;
    background-color: rgb(197, 2, 197);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 12px;
}

.link-roxo:hover {
    background-color: purple;
}

.recibo {
    display: flex;
    margin: 30px 0;
}
